<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fi.metropolia.javacrew.wellnesswizardapp">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WellnessWizardApp"
        tools:targetApi="31">

        <activity
            android:name=".Login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <service android:name=".ResetProgress"></service>

        <activity
            android:name=".trainingSessions.TrainingDetailActivity"
            android:exported="false"
            android:parentActivityName=".trainingSessions.TrainingSessionsLibraryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".recipe.RecipeDetailActivity"
            android:exported="false"
            android:parentActivityName=".recipe.RecipeLibraryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".recipe.RecipeLibraryActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".trainingSessions.TrainingSessionsLibraryActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UserCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>